<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="0;URL=../../../../wasmtime/component/trait.InstanceExportLookup.html">
    <title>Redirection</title>
</head>
<body>
    <p>Redirecting to <a href="../../../../wasmtime/component/trait.InstanceExportLookup.html">../../../../wasmtime/component/trait.InstanceExportLookup.html</a>...</p>
    <script>location.replace("../../../../wasmtime/component/trait.InstanceExportLookup.html" + location.search + location.hash);</script>
</body>
</html>