<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="0;URL=../../../wasmtime_environ/component/struct.ExportIndex.html">
    <title>Redirection</title>
</head>
<body>
    <p>Redirecting to <a href="../../../wasmtime_environ/component/struct.ExportIndex.html">../../../wasmtime_environ/component/struct.ExportIndex.html</a>...</p>
    <script>location.replace("../../../wasmtime_environ/component/struct.ExportIndex.html" + location.search + location.hash);</script>
</body>
</html>